{
  "presets": [
    ["react-app", { absoluteRuntime: false }],
    "@babel/preset-flow",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "inline-react-svg",
    "jsx-control-statements",
    "lodash"
  ]
}
